body, html {
    margin: 0;
    height: 100%;
    font-family: 'Varela Round', sans-serif;
    
    
  }

header {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(71, 70, 70);
}

#weatherBee {
    width: 50px;
    height: 50px;
    /* visibility: visible; */
    background: transparent;
}

.parent-flex-container-row {
    display: flex;
    flex-wrap: wrap;
    background-image: url(../Assets/Images/cumulus-cloud.jpg);
    min-height: 100%;
    justify-content: space-evenly;
  }


.search-column {
    display: flex;
    flex-direction: column;
    background-color: rgb(204, 204, 204);
    max-width: fit-content;
    /* flex-basis: 300px; */
    flex-grow: 1;
    height: fit-content;
    /* border: 1px solid white; */
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px;
    font-weight:400;
    opacity: .8;
}

.searchRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-bottom: .5px dotted white;
    margin-bottom: 10px;
    min-width: 100%;
    opacity: .8;
} 
h3 {
    display: flex row;
    border-bottom: 1px solid black;
    max-height: 45px;
    margin: 5px;
    flex: 1;
    align-self: center;
}
label {
    font-size: 16pt;
  }

input {
    border-radius: 5px;
}

button {
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#searchBar {
margin-bottom: 10px;
margin-top: 10px;
margin-left: 5px;
margin-right: 5px;
}

.recent-searches-parent-container {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    align-content: center;
    /* flex-basis: 2; */
} 

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-left:-25px;
    font-size: 20pt;
}

.recent-searches-child-ul {
    display: flex;
    /* flex-direction: column-reverse; */
    list-style-type: none;
    margin-left:-25px;
}

.recent-city {
    border-bottom: 1px solid  rgb(184, 181, 181);
    border-radius: 4px;
    min-width: 100%;
    min-height: 40px;
    flex-grow: 1;
    font-size: 14pt;
}

.city-details-column {
    display: flex;
    flex-direction: column;
    background-color: rgb(204, 204, 204);
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 300px;
    opacity: .8;
    height: fit-content;
}

.selected-city-column {
display: flex;
flex-direction: column;
color: white;
background-color: #0d6efd;
border-bottom: 1px solid white;
border-radius: 10px;
margin: 10px;
align-items: center;
/* flex:1; */
/* flex-basis: 1; */
}

.city-name, .future-date {
    text-emphasis: bold;
    /* font-family: 'Crimson Text', serif; */
    font-size: 24px;
    font-weight: 400;
}

.temperature {
    font-size: 40pt;
}

.city-name {
    display: inline;
}

.five-day-forecast-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border-top: 1px solid rgb(185 182 182);
    border-radius: 10px; */
    margin: 10px;
  }

.five-day-img {
    display: inline;
    visibility: hidden;
    width: 70px;
    height: 70px;
}
.current-img {
    display: inline;
    visibility: visible;
    width: 70px;
    height: 70px;
}

.hidden {
    visibility:hidden;
}

.visible {
    visibility:visible;
}

.card{
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    max-width: 50px;
    min-height: 30px;
    margin: 10px;
    align-items: center;
    /* flex-grow: 1; */
    flex-shrink: 1;
    /* max-height: 100px; */
}

.card-body {
    text-align-last: center;
}

.container {
    width: auto;
    max-width: 100%;
    padding: 0 15px;
  }

/* .btn {
    visibility: hidden;
    height: 0;
    width: 0;
} */
